In [1]:
import pandas as pd
import acquire
pd.set_option('display.max_rows', None)

acquire.py functions loaded successfully

In [2]:
df = acquire.get_zillow_data()

In [3]:
df.head()

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,logerror,pid,tdate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,14297519,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1727539,NaN,...,0.025595,14297519,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,17052889,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1387261,NaN,...,0.055619,17052889,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,14186244,NaN,NaN,261.0,NaN,NaN,NaN,NaN,11677,NaN,...,0.005383,14186244,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,12177905,NaN,NaN,261.0,2.0,NaN,NaN,NaN,2288172,NaN,...,-0.103410,12177905,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,10887214,NaN,NaN,266.0,2.0,NaN,NaN,1.0,1970746,NaN,...,0.006940,10887214,2017-01-01,Central,None,None,Central,Condominium,None,None

In [4]:
df.nunique()

parcelid                        77381
typeconstructiontypeid              4
storytypeid                         1
propertylandusetypeid              13
heatingorsystemtypeid              10
buildingclasstypeid                 2
architecturalstyletypeid            5
airconditioningtypeid               5
id                              77381
basementsqft                       43
bathroomcnt                        22
bedroomcnt                         16
buildingqualitytypeid              12
calculatedbathnbr                  21
decktypeid                          1
finishedfloor1squarefeet         1787
calculatedfinishedsquarefeet     4972
finishedsquarefeet12             4868
finishedsquarefeet13               13
finishedsquarefeet15             1724
finishedsquarefeet50             1807
finishedsquarefeet6               350
fips                                3
fireplacecnt                        5
fullbathcnt                        13
garagecarcnt                       14
garagetotalsqft                   839
hashottuborspa                      1
latitude                        64038
longitude                       62461
lotsizesquarefeet               18848
poolcnt                             1
poolsizesum                       262
pooltypeid10                        1
pooltypeid2                         1
pooltypeid7                         1
propertycountylandusecode          75
propertyzoningdesc               1907
rawcensustractandblock          39194
regionidcity                      175
regionidcounty                      3
regionidneighborhood              480
regionidzip                       389
roomcnt                            16
threequarterbathnbr                 4
unitcnt                             8
yardbuildingsqft17                540
yardbuildingsqft26                 59
yearbuilt                         136
numberofstories                     4
fireplaceflag                       1
structuretaxvaluedollarcnt      50430
taxvaluedollarcnt               50949
assessmentyear                      1
landtaxvaluedollarcnt           51600
taxamount                       73825
taxdelinquencyflag                  1
taxdelinquencyyear                 13
censustractandblock             39006
id                              77381
logerror                        76837
pid                             77381
tdate                             265
airconditioningdesc                 5
architecturalstyledesc              5
buildingclassdesc                   2
heatingorsystemdesc                10
propertylandusedesc                13
storydesc                           1
typeconstructiondesc                4
dtype: int64

In [5]:
df.shape

(77381, 70)

In [6]:
df.describe()

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyyear,censustractandblock,id,logerror,pid
count,7.738100e+04,222.000000,50.0,77381.000000,49440.000000,15.000000,206.000000,24953.000000,7.738100e+04,50.000000,...,7.726900e+04,7.738000e+04,77381.0,7.737900e+04,77376.000000,2886.000000,7.713700e+04,77381.000000,77381.000000,7.738100e+04
mean,1.300715e+07,6.040541,7.0,261.826340,3.920510,3.933333,7.388350,1.813289,1.495139e+06,679.720000,...,1.893145e+05,4.901345e+05,2016.0,3.010954e+05,5995.532346,14.087318,6.049673e+13,38848.692754,0.016625,1.300715e+07
std,3.481346e+06,0.557285,0.0,5.141199,3.592779,0.258199,2.734542,2.967894,8.609071e+05,689.703546,...,2.300874e+05,6.534440e+05,0.0,4.925960e+05,7622.844153,2.185663,1.535242e+12,22402.429065,0.170191,3.481346e+06
min,1.071186e+07,4.000000,7.0,31.000000,1.000000,3.000000,2.000000,1.000000,3.490000e+02,38.000000,...,4.400000e+01,1.000000e+03,2016.0,1.610000e+02,19.920000,3.000000,6.037101e+13,0.000000,-4.655420,1.071186e+07
25%,1.153830e+07,6.000000,7.0,261.000000,2.000000,4.000000,7.000000,1.000000,7.520700e+05,273.000000,...,8.426500e+04,2.070000e+05,2016.0,8.550400e+04,2715.632500,14.000000,6.037311e+13,19461.000000,-0.024377,1.153830e+07
50%,1.253157e+07,6.000000,7.0,261.000000,2.000000,4.000000,7.000000,1.000000,1.497932e+06,515.000000,...,1.364990e+05,3.589755e+05,2016.0,2.033720e+05,4450.695000,15.000000,6.037603e+13,38870.000000,0.006627,1.253157e+07
75%,1.421183e+07,6.000000,7.0,266.000000,7.000000,4.000000,7.000000,1.000000,2.240535e+06,796.500000,...,2.187870e+05,5.690015e+05,2016.0,3.667965e+05,6927.790000,15.000000,6.059042e+13,58253.000000,0.039203,1.421183e+07
max,1.676893e+08,13.000000,7.0,275.000000,24.000000,4.000000,21.000000,13.000000,2.982274e+06,3560.000000,...,1.142179e+07,4.906124e+07,2016.0,4.895220e+07,586639.300000,99.000000,4.830301e+14,77613.000000,5.262999,1.676893e+08

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77381 entries, 0 to 77380
Data columns (total 70 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   parcelid                      77381 non-null  int64
 1   typeconstructiontypeid        222 non-null    float64
 2   storytypeid                   50 non-null     float64
 3   propertylandusetypeid         77381 non-null  float64
 4   heatingorsystemtypeid         49440 non-null  float64
 5   buildingclasstypeid           15 non-null     float64
 6   architecturalstyletypeid      206 non-null    float64
 7   airconditioningtypeid         24953 non-null  float64
 8   id                            77381 non-null  int64
 9   basementsqft                  50 non-null     float64
 10  bathroomcnt                   77381 non-null  float64
 11  bedroomcnt                    77381 non-null  float64
 12  buildingqualitytypeid         49672 non-null  float64
 13  calculatedbathnbr             76772 non-null  float64
 14  decktypeid                    614 non-null    float64
 15  finishedfloor1squarefeet      6023 non-null   float64
 16  calculatedfinishedsquarefeet  77185 non-null  float64
 17  finishedsquarefeet12          73749 non-null  float64
 18  finishedsquarefeet13          41 non-null     float64
 19  finishedsquarefeet15          3009 non-null   float64
 20  finishedsquarefeet50          6023 non-null   float64
 21  finishedsquarefeet6           386 non-null    float64
 22  fips                          77381 non-null  float64
 23  fireplacecnt                  8276 non-null   float64
 24  fullbathcnt                   76772 non-null  float64
 25  garagecarcnt                  25474 non-null  float64
 26  garagetotalsqft               25474 non-null  float64
 27  hashottuborspa                1538 non-null   float64
 28  latitude                      77381 non-null  float64
 29  longitude                     77381 non-null  float64
 30  lotsizesquarefeet             69142 non-null  float64
 31  poolcnt                       16137 non-null  float64
 32  poolsizesum                   867 non-null    float64
 33  pooltypeid10                  464 non-null    float64
 34  pooltypeid2                   1074 non-null   float64
 35  pooltypeid7                   15042 non-null  float64
 36  propertycountylandusecode     77381 non-null  object
 37  propertyzoningdesc            50331 non-null  object
 38  rawcensustractandblock        77381 non-null  float64
 39  regionidcity                  75910 non-null  float64
 40  regionidcounty                77381 non-null  float64
 41  regionidneighborhood          30890 non-null  float64
 42  regionidzip                   77331 non-null  float64
 43  roomcnt                       77381 non-null  float64
 44  threequarterbathnbr           10096 non-null  float64
 45  unitcnt                       50563 non-null  float64
 46  yardbuildingsqft17            2388 non-null   float64
 47  yardbuildingsqft26            70 non-null     float64
 48  yearbuilt                     77118 non-null  float64
 49  numberofstories               17560 non-null  float64
 50  fireplaceflag                 172 non-null    float64
 51  structuretaxvaluedollarcnt    77269 non-null  float64
 52  taxvaluedollarcnt             77380 non-null  float64
 53  assessmentyear                77381 non-null  float64
 54  landtaxvaluedollarcnt         77379 non-null  float64
 55  taxamount                     77376 non-null  float64
 56  taxdelinquencyflag            2886 non-null   object
 57  taxdelinquencyyear            2886 non-null   float64
 58  censustractandblock           77137 non-null  float64
 59  id                            77381 non-null  int64
 60  logerror                      77381 non-null  float64
 61  pid                           77381 non-null  int64
 62  tdate                         77381 non-null  object
 63  airconditioningdesc           24953 non-null  object
 64  architecturalstyledesc        206 non-null    object
 65  buildingclassdesc             15 non-null     object
 66  heatingorsystemdesc           49440 non-null  object
 67  propertylandusedesc           77381 non-null  object
 68  storydesc                     50 non-null     object
 69  typeconstructiondesc          222 non-null    object
dtypes: float64(55), int64(4), object(11)
memory usage: 41.3+ MB

In [8]:
def missing_rows(df):
    num_rows_missing = df.isnull().sum()
    pct_rows_missing = df.isnull().sum() / (df.isnull().sum() + df.notnull().sum())
    missing_rows = pd.DataFrame({'num_rows_missing':num_rows_missing,'pct_rows_missing':pct_rows_missing})
    return missing_rows

In [9]:
nulls = missing_rows(df)
nulls

                              num_rows_missing  pct_rows_missing
parcelid                                     0          0.000000
typeconstructiontypeid                   77159          0.997131
storytypeid                              77331          0.999354
propertylandusetypeid                        0          0.000000
heatingorsystemtypeid                    27941          0.361083
buildingclasstypeid                      77366          0.999806
architecturalstyletypeid                 77175          0.997338
airconditioningtypeid                    52428          0.677531
id                                           0          0.000000
basementsqft                             77331          0.999354
bathroomcnt                                  0          0.000000
bedroomcnt                                   0          0.000000
buildingqualitytypeid                    27709          0.358085
calculatedbathnbr                          609          0.007870
decktypeid                               76767          0.992065
finishedfloor1squarefeet                 71358          0.922164
calculatedfinishedsquarefeet               196          0.002533
finishedsquarefeet12                      3632          0.046937
finishedsquarefeet13                     77340          0.999470
finishedsquarefeet15                     74372          0.961114
finishedsquarefeet50                     71358          0.922164
finishedsquarefeet6                      76995          0.995012
fips                                         0          0.000000
fireplacecnt                             69105          0.893049
fullbathcnt                                609          0.007870
garagecarcnt                             51907          0.670798
garagetotalsqft                          51907          0.670798
hashottuborspa                           75843          0.980124
latitude                                     0          0.000000
longitude                                    0          0.000000
lotsizesquarefeet                         8239          0.106473
poolcnt                                  61244          0.791460
poolsizesum                              76514          0.988796
pooltypeid10                             76917          0.994004
pooltypeid2                              76307          0.986121
pooltypeid7                              62339          0.805611
propertycountylandusecode                    0          0.000000
propertyzoningdesc                       27050          0.349569
rawcensustractandblock                       0          0.000000
regionidcity                              1471          0.019010
regionidcounty                               0          0.000000
regionidneighborhood                     46491          0.600806
regionidzip                                 50          0.000646
roomcnt                                      0          0.000000
threequarterbathnbr                      67285          0.869529
unitcnt                                  26818          0.346571
yardbuildingsqft17                       74993          0.969140
yardbuildingsqft26                       77311          0.999095
yearbuilt                                  263          0.003399
numberofstories                          59821          0.773071
fireplaceflag                            77209          0.997777
structuretaxvaluedollarcnt                 112          0.001447
taxvaluedollarcnt                            1          0.000013
assessmentyear                               0          0.000000
landtaxvaluedollarcnt                        2          0.000026
taxamount                                    5          0.000065
taxdelinquencyflag                       74495          0.962704
taxdelinquencyyear                       74495          0.962704
censustractandblock                        244          0.003153
id                                           0          0.000000
logerror                                     0          0.000000
pid                                          0          0.000000
tdate                                        0          0.000000
airconditioningdesc                      52428          0.677531
architecturalstyledesc                   77175          0.997338
buildingclassdesc                        77366          0.999806
heatingorsystemdesc                      27941          0.361083
propertylandusedesc                          0          0.000000
storydesc                                77331          0.999354
typeconstructiondesc                     77159          0.997131

In [10]:
def missing_cols(df):
    num_cols_missing = df.isnull().sum(axis=1)
    pct_cols_missing = df.isnull().sum(axis=1) / (df.isnull().sum(axis=1) + df.notnull().sum(axis=1))
    num_rows = df.isnull().sum(axis=1).value_counts().sort_index().reset_index(drop=True)
    cols_missing = pd.DataFrame({'num_cols_missing':num_cols_missing, 'pct_cols_missing':pct_cols_missing, 'num_rows': num_rows})
    return cols_missing

In [11]:
missing_cols = missing_cols(df)
missing_cols.head()

   num_cols_missing  pct_cols_missing  num_rows
0                36          0.514286       2.0
1                33          0.471429      13.0
2                34          0.485714      24.0
3                32          0.457143      65.0
4                29          0.414286     316.0

# Prepare

In [12]:
df.head()

,parcelid,typeconstructiontypeid,storytypeid,propertylandusetypeid,heatingorsystemtypeid,buildingclasstypeid,architecturalstyletypeid,airconditioningtypeid,id,basementsqft,...,logerror,pid,tdate,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,14297519,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1727539,NaN,...,0.025595,14297519,2017-01-01,None,None,None,None,Single Family Residential,None,None
1,17052889,NaN,NaN,261.0,NaN,NaN,NaN,NaN,1387261,NaN,...,0.055619,17052889,2017-01-01,None,None,None,None,Single Family Residential,None,None
2,14186244,NaN,NaN,261.0,NaN,NaN,NaN,NaN,11677,NaN,...,0.005383,14186244,2017-01-01,None,None,None,None,Single Family Residential,None,None
3,12177905,NaN,NaN,261.0,2.0,NaN,NaN,NaN,2288172,NaN,...,-0.103410,12177905,2017-01-01,None,None,None,Central,Single Family Residential,None,None
4,10887214,NaN,NaN,266.0,2.0,NaN,NaN,1.0,1970746,NaN,...,0.006940,10887214,2017-01-01,Central,None,None,Central,Condominium,None,None